.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo__buttons {
  display: flex;
  align-items: center;
}

.todo > h3 {
  max-width: 250px;
  font-size: 15px;
  cursor: pointer;
}
